.review-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain; /* Changed from 'cover' to 'contain' */
    max-height: 100px;
    width: 100%; /* Ensure image takes full width of container */
    height: auto; /* Maintain aspect ratio */
}
