.override {
    width: inherit;
    background-image: url('/images/assets/IMG_2652.jpeg');
}

.content-wrapper {
    display: block;
    margin: auto;
    width: 60rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: oklch(from var(--card) l c h / 85%);
    backdrop-filter: blur(4px);
}

.register-wrapper {
    width: 92%;
}

.form-control {
    margin: 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
}

.form-fields-grid {
    display: grid;
    grid-template-columns: 12rem 25rem 2rem;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    width: 100%;
}

.error-message-wrapper {
    grid-column-start: 1;
}

.form-control label {
    font-weight: bold;
}

.form-control input,
.form-control textarea {
    width: 100%;
    /* font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8; */
    /* padding: 0.15rem 0.25rem; */
}

.form-control input:focus,
.form-control textarea:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
    color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
    border-color: red;
    background: #ffd1d1;
}

.error {
    color: var(--primary-red);
    font-size: 1rem;
    text-align: left;
    background-color: var(--background);
    padding: 0.5rem;
    border-color: var(--primary-red);
    border-width: thin;
    border-radius: 0.15rem;
}

.required {
    color: var(--primary-red);
    font-size: 1.5rem;
}

.form-field {
    display: block;
    line-height: 25px;
    width: 100%;
    /* margin-bottom: 1rem; */
    color: var(--color-gray-600);
    border: 1px solid var(--color-gray-400);
    border-radius: 4px;
}

.form-field-label {
    color: var(--foreground);
    font-size: 16px;
    font-weight: 600;
}

.contact_button {
    background-color: var(--color-brown-600);
}

.contact_button:hover,
.contact_button:active {
    background-color: var(--color-brown-400);
    color: var(--primary-foreground);
}

.contact_button:disabled,
.contact_button:hover:disabled,
.contact_button:active:disabled {
    background: var(--color-gray-400);
    color: var(--color-gray-500);
    border-color: var(--color-gray-400);
    cursor: not-allowed;
}
