.address_form {
    /* Add styles for your address form here */
}

.form > :not([hidden]) ~ :not([hidden]) {
    margin-top: 1rem;
}

.form_group {
    display: grid;
    grid-template-columns: 20rem;
    gap: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.state_zip_group {
    display: grid;
    gap: 0.5rem;
}

.state_zip_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
}

.footer {
    display: flex;
    justify-content: flex-start;
}
