.address_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;

    & .address_card {
        border: 2px solid var(--color-gray-300); /* Tailwind's gray-300 */
        border-radius: 0.375rem; /* Tailwind's rounded-md */
        padding: 1rem;
        background-color: var(--color-gray-10); /* Tailwind's white */
        transition: border-color 0.2s ease-in-out;
    }

    & .address_card:hover {
        border-color: var(--color-gray-400); /* Tailwind's gray-400 */
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Tailwind's shadow-sm */
    }

    & .is_shipping {
        border-color: var(--color-blue-500); /* A unique color for shipping */
    }

    & .is_billing {
        border-color: var(--color-green-500); /* A unique color for billing */
    }

    /* Style for when an address is BOTH shipping and billing */
    & .is_both {
        border-color: transparent;
        background:
            linear-gradient(var(--color-gray-10), var(--color-gray-10))
                padding-box,
            linear-gradient(
                    to right,
                    var(--color-blue-500),
                    var(--color-green-500)
                )
                border-box;
    }
}

.guest_form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem; /* space-y-4 */
    background-color: var(
        --background,
        #f9fafb
    ); /* Using CSS variable for background */
}

.guest_button {
    align-self: flex-start;
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
    background-color: var(--color-blue-600, #2563eb); /* bg-blue-600 */
    color: var(--color-white, #ffffff); /* text-white */
    border: none;
    border-radius: 0.375rem; /* rounded-md */
    font-size: 1rem; /* text-base */
    line-height: 1.5rem; /* leading-6 */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.guest_button:hover {
    background-color: var(--color-blue-700, #1d4ed8); /* bg-blue-700 */
    /* create blue glow effect on hover */
    box-shadow: 0 0 8px var(--color-blue-400, #60a5fa);
    transition: box-shadow 0.2s ease-in-out;
}

.customer_info_header {
    text-align: left;
    font-size: 1.25rem; /* text-lg */
    font-weight: 600; /* font-semibold */
    margin-bottom: 1rem; /* mb-4 */
}

.guest_grid {
    display: grid;
    gap: 1.5rem; /* gap-6 */
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* md:grid-cols-2 */
}

.guest_form_group {
    display: grid;
    gap: 0.5rem; /* gap-2 */
}
