.main-nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.main-nav-item a {
    font-family: Aleo, serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--main-nav-item);
}

.main-nav-item a.active {
    color: var(--main-nav-item-active);
}

@media screen and (min-width: 991px) {
}
