.page_container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: auto auto auto; /* Let main content grow */
    row-gap: 1rem; /* Apply gap only between rows */
    grid-template-areas:
        'header'
        'main-content'
        'footer';
    min-height: 100vh; /* Ensure container takes full viewport height */
}

.header {
    grid-area: header;
}

.main-content {
    grid-area: main-content;
}

.footer {
    grid-area: footer;
}
